body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.tittle{
    background: #fff;
    width: 100%;
    height: 120px;
    text-align: center;
    color: #000;
    font-size: 8em;
    margin: 20px 0;
    font-weight: bolder;
    font-family: "Arial Black","Microsoft YaHei";
    z-index: 1;
}
.tittle p{
    background: white;
    left: 45%;
    position: absolute;
}
.p0 {
    animation: a0 200ms 2.8s ease-out forwards;
}
@keyframes a0 {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-1em)}
}
.p5 {
    opacity: 0;
    animation: a5 2s 1s linear forwards;
}
@keyframes a5 {
    0% {opacity: 0}
    1%{opacity: 1}
    80%{
        opacity: 1;
        transform: translateX(0)
    }
    100%{
        opacity: 1;
        transform: translateX(-0.35em)}
}
.p6 {
    opacity: 0;
    animation: a6 1s 2s ease-out forwards;
}
@keyframes a6 {
    0% {opacity: 0}
    1%{opacity: 1}
    80%{
        opacity: 1;
        transform: translateX(0)
    }
    100%{
        opacity: 1;
        transform: translateX(0.3em)}
}
.pban {
    background: #f01213!important;
    transform: translateY(2.2em);
    padding: 8px;
    line-height: 1.3em;
    left: 60%!important;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
    color: #fff;
    font-size: 0.4em;
    font-weight: bolder;
    font-family: "Arial Black","Microsoft YaHei";
    animation: aban 0.4s 3.5s linear forwards;
}
@keyframes aban {
    0%{opacity: 0}
    10%{opacity: 1}
    30%{opacity: 0}
    50%{opacity: 1}
    60%{opacity: 0}
    80%{opacity: 1}
    90%{opacity: 0}
    100%{opacity: 1}
}
.years {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20%;
    text-align: center;
    color: #fff;
    font-size: 4em;
    height: 1.1em;
    overflow: hidden;
    font-family: "Arial","Microsoft YaHei";
    opacity: 0;
/*    transform: translateY(6em);*/
    animation: aY 100ms 4.5s linear forwards;
}
@keyframes aY {
    0%{opacity: 0}
    100%{opacity: 1}
}
.years span{
    display: inline-block;
    border: #ffffff solid 1px;
    background: #000;
    padding: 0 16px;
    left: 50%;
}
#aY1 {
    animation: aY1 200ms 5.5s ease-in-out forwards;
}
@keyframes aY1 {
    0%{transform: translateY(0em)}
    100%{transform: translateY(-1.16em)}
}
#aY9 {
    animation: aY9 2s 5.4s ease-in-out forwards;
}
@keyframes aY9 {
    0%{transform: translateY(0em)}
    100%{transform: translateY(-11.7em)}
}
.cover {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    background: rgba(240,18,19,1);
}
.coverpic {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: url("./images/126.jpg" ) no-repeat center;
    animation: coverpic 4s 6s ease-out forwards;
}
@keyframes coverpic {
    0% {
        height: 0;
        opacity: 0;
    }
    30%{
        height: 320px;
        opacity: 0.1;
    }
    100%{
        height: 320px;
        opacity: 1;
    }
}
.typebox{
    width: 70%;
    height: 600px;
    margin: 5% 15%;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    color: #000;
    font-size: 2.4em;
    line-height: 1.2em;
    opacity: 0;
    animation: typedbox 10ms 9s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}
.typebox1{
    background: #fff;
    position: absolute;
    width: 70%;
    height: 600px;
    margin: 5% 15%;
    box-sizing: border-box;
    text-align: left;
    color: #000;
    font-size: 2.4em;
    line-height: 1.2em;
    opacity: 0;
    animation: typedbox 10ms 17s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}
.typebox2{
    background: #fff;
    position: absolute;
    width: 70%;
    height: 600px;
    margin: 5% 15%;
    box-sizing: border-box;
    text-align: left;
    color: #000;
    font-size: 2.4em;
    line-height: 1.2em;
    opacity: 0;
    animation: typedbox 10ms 26.1s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}
.come {
    background: #ffffff url("./images/76.jpg") no-repeat center;
    position: absolute;
    width: 100%;
    height: 650px;
    margin: 5% 0;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    font-size: 4em;
    opacity: 0;
    animation: typedbox 10ms 37s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}
.tocase {
    width: 100%;
    height: 10%;
    background: #f01213;
    color: rgba(255,255,255,0.3);
    font-size: 3em;
    font-weight: bolder;
    line-height: 200px;
    display: block;
    text-align: center;
    animation: tocase 2s 37s ease-out infinite;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes tocase {
    0% {
        color: rgba(255,255,255,0.4);
        line-height: 200px;
    }
    50% {
        color: rgba(255,255,255,1);
        line-height: 100px;
    }
    100% {
        color: rgba(255,255,255,0.4);
        line-height: 200px;
    }
}
